body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

/* * {
    box-sizing: border-box;
} */

.main-div{
    margin-top: 50px; 
}

form {
    text-align: center;
    border-radius: 10px;
}

/* Add padding to containers */

.create-con{
    /* padding: 16px; */
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    padding: 3px;
}

.register{
    margin: 5px;
}

ul{
    list-style-type: none;
    margin-top: 0px;
    padding: 0px;
}
/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 50%;
    padding: 8px 5px;
    margin-top: 10px;
    display: inline-block;
    margin: auto;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */

hr {
    border: 1px solid #f1f1f1;
}

/* Set a style for the submit button */

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;

}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */

a {
    color: dodgerblue;
}

